* {
  box-sizing: border-box;
  /* margin: 0px; */
  padding: 0px;
}
body {
  background-color: orange;
  color: black;
}
.div {
  width: 400px;
  height: 500px;
  background-color: gold;
}
.img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
nav {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(248, 190, 83);
}
ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
ul li {
  margin: 0px 5px;
}
ul li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
